@model ArbeitsPlanung3_Web.Models.Zuweisung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zuweisung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Arbeit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arbeit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Benutzer.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Benutzer.Vorname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
