@model ArbeitsPlanung4Lib.Flugzeug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flugzeug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kennzeichen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kennzeichen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlugzeugId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
